coloredlogs==15.0
GitPython==3.1.27
numpy==1.19.2
nuscenes_devkit==1.1.9
open3d==0.14.1
pandas==1.2.4
pytorch3d==0.5.0
PyYAML==6.0
scipy==1.5.4
sympy==1.8
tensorboardX==2.5.1
torch_points_kernels==0.7.0
torchvision==0.9.0
tqdm==4.56.0
